body {
  background-color: #0E1721;
}

.header {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  transition: background-color 0.5s ease;
  padding: 15px 0;
}
.header__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .logo img {
  width: 200px;
  height: 50px;
}
.header .nav ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
.header .nav ul a {
  color: white;
  text-decoration: none;
}
.header .nav ul a:hover {
  color: #FFC999;
  text-decoration: none;
}
.header .nav ul .reservation {
  padding: 15px 25px;
  border: 1px solid #FFC999;
  background: linear-gradient(to left, #0E1721 50%, #FFC999 50%) right;
  background-size: 200%;
  transition: 0.2s ease-out;
}
.header .nav ul .reservation:hover {
  color: black;
  background-position: left;
}

header.scrolled {
  background-color: #0E1721;
  border-bottom: 1px solid white;
}

.video {
  position: absolute;
  width: 100%;
  z-index: -1;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.main {
  padding-top: 400px;
}
.main__text-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 400px;
}
.main__text-inner h4 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: white;
  margin-bottom: 20px;
}
.main__text-inner h1 {
  font-size: 4.5rem;
  color: white;
  letter-spacing: 0.05em;
  margin-bottom: 50px;
}
.main__text-inner .find__more-btn {
  padding: 15px 25px;
  border: none;
  border-right: 1px solid #FFC999;
  background: linear-gradient(to left, #FFFFFF 50%, #FFC999 50%) right;
  background-size: 200%;
  transition: 0.2s ease-out;
}
.main__text-inner .find__more-btn:hover {
  color: black;
  background-position: left;
  cursor: pointer;
}
.main .tradition {
  background-color: #0E1721;
  padding: 100px 0;
}
.main .tradition__inner h3 {
  width: 220px;
  text-align: center;
  color: #ffc999;
  text-transform: uppercase;
  border-bottom: 1px solid #ffc999;
  margin: 0 auto;
}
.main .tradition__inner h1 {
  text-align: center;
  font-size: 58px;
  text-transform: uppercase;
  color: white;
  margin: 60px 0;
}
.main .tradition__inner .history__slider {
  display: flex;
  gap: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.main .tradition__inner .history__slider .year {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #FFC999;
  margin-bottom: 20px;
}
.main .tradition__inner .history__slider .achieve {
  color: white;
  margin-bottom: 20px;
  font-size: 28px;
}
.main .tradition__inner .history__slider p {
  font-size: 18px;
  color: #D0D7DF;
  margin-bottom: 20px;
}
.main .tradition__inner .history__slider .left__text {
  width: 300px;
}
.main .tradition__inner .history__slider .left__text .year, .main .tradition__inner .history__slider .left__text .achieve, .main .tradition__inner .history__slider .left__text p {
  text-align: right;
}
.main .tradition__inner .history__slider .right__text {
  width: 300px;
}
.main .tradition__inner .history__slider .right__text .year, .main .tradition__inner .history__slider .right__text .achieve, .main .tradition__inner .history__slider .right__text p {
  -moz-text-align-last: left;
       text-align-last: left;
}
.main .tradition__inner .history__slider .slider {
  width: 500px;
}
.main .tradition__inner .history__slider .slider img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.main .menu {
  margin-bottom: 100px;
}
.main .menu__inner {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.main .menu__inner .menu__box {
  width: 20%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s ease-out;
}
.main .menu__inner .menu__box h3 {
  display: none;
}
.main .menu__inner .menu__box:hover {
  scale: 1.1;
  transition: 0.5s ease-out;
  position: relative;
  cursor: pointer;
}
.main .menu__inner .menu__box:hover h3 {
  display: block;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 20px;
  text-transform: uppercase;
}
.main .menu__inner .crab {
  background-image: url(/assets/crab.jpg);
}
.main .menu__inner .losos {
  background-image: url(/assets/losos.jpg);
}
.main .menu__inner .plates {
  background-image: url(/assets/plates.jpg);
}
.main .menu__inner .cocktail {
  background-image: url(/assets/cocktail.jpg);
}
.main .reservation {
  background-image: url(/assets/bg-wine-glass.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 300px;
  background-size: cover;
  text-align: center;
  padding: 100px 0;
}
.main .reservation h3 {
  margin: 0 auto;
  width: 180px;
  color: #ffc999;
  text-transform: uppercase;
  border-bottom: 1px solid #ffc999;
}
.main .reservation h1 {
  font-size: 58px;
  text-transform: uppercase;
  color: white;
  margin: 40px 0;
}
.main .reservation-btn {
  padding: 15px 25px;
  border: 1px solid #FFC999;
  background: linear-gradient(to left, #0E1721 50%, #FFC999 50%) right;
  background-size: 200%;
  transition: 0.2s ease-out;
  color: white;
}
.main .reservation-btn:hover {
  color: black;
  background-position: left;
}
.main .team {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.main .team__text {
  max-width: 770px;
}
.main .team__text h3 {
  width: 135px;
  color: #ffc999;
  text-transform: uppercase;
  border-bottom: 1px solid #ffc999;
}
.main .team__text h1 {
  font-size: 58px;
  text-transform: uppercase;
  color: white;
  margin: 40px 0;
}
.main .team__text-icons {
  display: flex;
  gap: 30px;
}
.main .team__text-icons .facebook .static-icon {
  display: block;
}
.main .team__text-icons .facebook .hover-icon {
  display: none;
}
.main .team__text-icons .facebook:hover .static-icon {
  display: none;
}
.main .team__text-icons .facebook:hover .hover-icon {
  display: block;
}
.main .team__text-icons .twitter .static-icon {
  display: block;
}
.main .team__text-icons .twitter .hover-icon {
  display: none;
}
.main .team__text-icons .twitter:hover .static-icon {
  display: none;
}
.main .team__text-icons .twitter:hover .hover-icon {
  display: block;
}
.main .team__text-icons .instagram .static-icon {
  display: block;
}
.main .team__text-icons .instagram .hover-icon {
  display: none;
}
.main .team__text-icons .instagram:hover .static-icon {
  display: none;
}
.main .team__text-icons .instagram:hover .hover-icon {
  display: block;
}
.main .team__text p {
  color: #D0D7DF;
  margin: 20px 0;
  font-size: 18px;
}
.main .team__text-bottom {
  display: flex;
  gap: 200px;
  margin-top: 40px;
}
.main .team__text-bottom h2 {
  color: white;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main .team__text-bottom ul li {
  color: white;
  margin-bottom: 8px;
  font-size: 18px;
}
.main .team__img img {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.main .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #fff;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 100px;
}
.main .contact__form {
  border: 2px solid #FFC999;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
}
.main .contact__form h1 {
  font-size: 58px;
  text-transform: uppercase;
  color: black;
  margin: 40px 0;
}
.main .contact__form p {
  color: #686868;
  margin: 20px 0;
  font-size: 18px;
}
.main .contact__form .form {
  text-align: center;
}
.main .contact__form .form #name, .main .contact__form .form #email, .main .contact__form .form textarea {
  width: 500px;
  height: 40px;
  outline: none;
  border: none;
  background-color: #FFC999;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}
.main .contact__form .form-btn {
  padding: 15px 25px;
  border: 1px solid #FFC999;
  background: linear-gradient(to left, #0E1721 50%, #FFC999 50%) right;
  background-size: 200%;
  transition: 0.2s ease-out;
  color: white;
}
.main .contact__form .form-btn:hover {
  color: black;
  background-position: left;
  cursor: pointer;
}
.main .contact__img img {
  width: 600px;
  height: 500px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.footer {
  position: relative;
  border-top: 1px solid white;
}
.footer__inner {
  position: absolute;
  width: 100%;
  padding: 30px 0;
}
.footer__inner-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__inner-info .contacts a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.footer__inner-info .worktime p {
  text-align: right;
  margin: 0;
  margin-bottom: 10px;
}
.footer__inner p {
  text-align: center;
  color: white;
  margin-top: 40px;
}

.slick-dots {
  margin-bottom: 30px;
}
.slick-dots li button {
  scale: 1.5;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: white;
}

.menu__title {
  height: 100vh;
  padding-top: 85px;
  background-image: url(/assets/menu-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.menu__title-text {
  text-align: center;
  color: white;
  padding-top: 380px;
}
.menu__title-text h3 {
  font-size: 18px;
  margin-bottom: 30px;
}
.menu__title-text h1 {
  font-size: 58px;
  letter-spacing: 1rem;
}

.menu__list {
  width: 1300px;
  margin: 100px auto;
}
.menu__list h2 {
  color: #FFC999;
  line-height: 1.2;
  font-size: 32px;
  border-bottom: 1px solid #FFC999;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.menu__list .starters, .menu__list .main__courses {
  margin-bottom: 50px;
}
.menu__list .starters .dish__items, .menu__list .main__courses .dish__items {
  display: flex;
  justify-content: space-between;
}
.menu__list .starters .dish__items-col, .menu__list .main__courses .dish__items-col {
  width: 610px;
}
.menu__list .starters .dish__items .dish, .menu__list .main__courses .dish__items .dish {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.menu__list .starters .dish__items .dish img, .menu__list .main__courses .dish__items .dish img {
  border-radius: 50%;
}
.menu__list .starters .dish__items .dish__text, .menu__list .main__courses .dish__items .dish__text {
  width: 440px;
  padding-left: 30px;
  color: white;
}
.menu__list .starters .dish__items .dish__text h3, .menu__list .main__courses .dish__items .dish__text h3 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.menu__list .starters .dish__items .dish__text p, .menu__list .main__courses .dish__items .dish__text p {
  font-size: 16px;
  font-style: italic;
}
.menu__list .starters .dish__items .dish h5, .menu__list .main__courses .dish__items .dish h5 {
  font-size: 18px;
  color: #FFC999;
}

.about__title {
  height: 100vh;
  padding-top: 85px;
  background-image: url(/assets/about-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about__title-text {
  text-align: center;
  color: white;
  padding-top: 380px;
}
.about__title-text h3 {
  font-size: 18px;
  margin-bottom: 30px;
}
.about__title-text h1 {
  font-size: 58px;
  letter-spacing: 1rem;
}

.history {
  width: 1300px;
  margin: 50px auto;
}
.history h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 48px;
  margin-bottom: 100px;
  letter-spacing: 3px;
}
.history .origins, .history .relocation, .history .traditions, .history .celebrity, .history .accalades, .history .sustainability, .history .community {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-bottom: 100px;
}
.history .origins__text, .history .relocation__text, .history .traditions__text, .history .celebrity__text, .history .accalades__text, .history .sustainability__text, .history .community__text {
  width: 800px;
}
.history .origins__text h3, .history .relocation__text h3, .history .traditions__text h3, .history .celebrity__text h3, .history .accalades__text h3, .history .sustainability__text h3, .history .community__text h3 {
  color: #FFC999;
  line-height: 1.2;
  font-size: 32px;
  border-bottom: 1px solid #FFC999;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.history .origins__text p, .history .relocation__text p, .history .traditions__text p, .history .celebrity__text p, .history .accalades__text p, .history .sustainability__text p, .history .community__text p {
  color: white;
  font-size: 24px;
  margin-bottom: 80px;
}
.history .origins .origins-bg, .history .relocation .origins-bg, .history .traditions .origins-bg, .history .celebrity .origins-bg, .history .accalades .origins-bg, .history .sustainability .origins-bg, .history .community .origins-bg {
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 400px;
  height: 300px;
  background-image: url(/assets/origins.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.history .origins .relocation-bg, .history .relocation .relocation-bg, .history .traditions .relocation-bg, .history .celebrity .relocation-bg, .history .accalades .relocation-bg, .history .sustainability .relocation-bg, .history .community .relocation-bg {
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 400px;
  height: 300px;
  background-image: url(/assets/relocation.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.history .origins .traditions-bg, .history .relocation .traditions-bg, .history .traditions .traditions-bg, .history .celebrity .traditions-bg, .history .accalades .traditions-bg, .history .sustainability .traditions-bg, .history .community .traditions-bg {
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 400px;
  height: 300px;
  background-image: url(/assets/TRADITIONS.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.history .origins .celebrity-bg, .history .relocation .celebrity-bg, .history .traditions .celebrity-bg, .history .celebrity .celebrity-bg, .history .accalades .celebrity-bg, .history .sustainability .celebrity-bg, .history .community .celebrity-bg {
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 400px;
  height: 300px;
  background-image: url(/assets/CELEBRITY.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.history .origins .accalades-bg, .history .relocation .accalades-bg, .history .traditions .accalades-bg, .history .celebrity .accalades-bg, .history .accalades .accalades-bg, .history .sustainability .accalades-bg, .history .community .accalades-bg {
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 400px;
  height: 300px;
  background-image: url(/assets/ACCOLADES.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.history .origins .sustainability-bg, .history .relocation .sustainability-bg, .history .traditions .sustainability-bg, .history .celebrity .sustainability-bg, .history .accalades .sustainability-bg, .history .sustainability .sustainability-bg, .history .community .sustainability-bg {
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 400px;
  height: 300px;
  background-image: url(/assets/SUSTAINABILITY.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.history .origins .community-bg, .history .relocation .community-bg, .history .traditions .community-bg, .history .celebrity .community-bg, .history .accalades .community-bg, .history .sustainability .community-bg, .history .community .community-bg {
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 400px;
  height: 300px;
  background-image: url(/assets/community.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mission {
  margin-bottom: 100px;
}
.mission .slider {
  width: 1300px;
  height: auto;
  margin: 100px auto;
  position: relative;
}
.mission .slider h1 {
  position: absolute;
  bottom: 100px;
  left: 30px;
  color: white;
  font-size: 40px;
}
.mission .slider p {
  width: 400px;
  position: absolute;
  bottom: 15px;
  left: 30px;
  color: white;
  font-size: 18px;
}
.mission .slider .slide1 {
  width: 500px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.7)), url("/assets/slide1.jpg");
  background-position: bottom;
  border-radius: 20px;
}
.mission .slider .slide2 {
  width: 500px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.7)), url("/assets/slide2.jpg");
  background-position: bottom;
  border-radius: 20px;
}
.mission .slider .slide3 {
  width: 500px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.7)), url("/assets/slide3.jpg");
  background-position: bottom;
  border-radius: 20px;
}
.mission .slider .slide4 {
  width: 500px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.7)), url("/assets/slide4.webp");
  background-position: bottom;
  border-radius: 20px;
}

.workers {
  margin-bottom: 100px;
}
.workers__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.workers__list-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.workers__list-item img {
  width: 300px;
  height: 400px;
  border-top-right-radius: 45%;
  border-top-left-radius: 45%;
  margin-bottom: 20px;
}
.workers__list-item h4 {
  color: #FFC999;
  font-size: 16px;
  margin-bottom: 10px;
}
.workers__list-item h2 {
  color: white;
  font-size: 28px;
}

.contact__title {
  height: 100vh;
  padding-top: 85px;
  background-image: url(/assets/contact-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact__title-text {
  text-align: center;
  color: white;
  padding-top: 380px;
}
.contact__title-text h3 {
  font-size: 18px;
  margin-bottom: 30px;
}
.contact__title-text h1 {
  font-size: 58px;
  letter-spacing: 1rem;
}

.contact__us {
  width: 1300px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  gap: 150px;
}
.contact__us-info .address, .contact__us-info .phone, .contact__us-info .hours {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
  color: white;
}
.contact__us-info .address h2, .contact__us-info .phone h2, .contact__us-info .hours h2 {
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.contact__us-info .address a, .contact__us-info .phone a, .contact__us-info .hours a {
  font-size: 20px;
  color: #FFC999;
  text-decoration: none;
  font-style: italic;
  position: relative;
}
.contact__us-info .address a::before, .contact__us-info .phone a::before, .contact__us-info .hours a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #FFC999;
  transition: width 0.35s;
}
.contact__us-info .address a:hover:before, .contact__us-info .phone a:hover:before, .contact__us-info .hours a:hover:before {
  width: 100%;
}
.contact__us-info .address p, .contact__us-info .phone p, .contact__us-info .hours p {
  font-size: 16px;
  margin-bottom: 10px;
}
.contact__us-form {
  flex-grow: 1;
  padding: 0 30px;
}
.contact__us-form .form #name {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  padding: 10px 0;
  color: white;
  padding: 15px;
  font-size: 16px;
}
.contact__us-form .form #email {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  padding: 10px 0;
  color: white;
  padding: 15px;
  font-size: 16px;
}
.contact__us-form .form #message {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  padding: 10px 0;
  color: white;
  padding: 15px;
  font-size: 16px;
}
.contact__us-form .form .form-btn {
  padding: 20px 30px;
  font-size: 16px;
  cursor: pointer;
  font-style: italic;
  text-transform: uppercase;
  border: 1px solid #FFC999;
  background: linear-gradient(to left, #0E1721 50%, #FFC999 50%) right;
  background-size: 200%;
  transition: 0.2s ease-out;
  color: #ffc999;
  margin-top: 50px;
}
.contact__us-form .form .form-btn:hover {
  color: black;
  background-position: left;
}

.map {
  width: 100%;
  height: 400px;
  margin-bottom: 100px;
}/*# sourceMappingURL=style.css.map */